body {
    font-family: Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    text-align: center;
}

.message {
    font-size: 1.2rem;
    color: #333;
}
